
@{
    ViewData["Title"] = "Login";
}



<div class="offset-3 col-6">
    <h2>Hmm, looks like you need to log in</h2>

    <form asp-controller="login" asp-action="login" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" class="form-control" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="form-control" />
        <br />
        <button type="submit" class="btn btn-primary">Log me in</button>
    </form>
</div>
