
@{
    ViewData["Title"] = "Update Password";
    string why = ViewBag.why == 1 ? "sido regenerada" : "caducado";
    List<int> codigos = ViewBag.codigos;
}

<div class="row">
    <div class="col-12">
        <h2>Update Password</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="offset-2 col-8">
        @if (ViewBag.why != null && ViewBag.why != 0)
        {
            <div class="col-12">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Update Password</strong> @string.Format("La contraseña ha {0} por favor actualicela inmediatamente.", why)
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
        <form asp-controller="Login" asp-action="UpdatePass" method="post">
            <input type="hidden" name="usuario" id="usuario" value="@ViewBag.usuario" />

            <label for="document">Document</label>
            <input id="document" name="document" type="text" class="form-control" />


            <label for="current_password">Current Password</label>
            <input id="current_password" name="current_password" type="password" class="form-control" />

            <label for="new_password">New Password</label>
            <input id="new_password" name="new_password" type="password" class="form-control" />

            <label for="validate_password">Repeat Password</label>
            <input id="validate_password" name="validate_password" type="password" class="form-control" />
            <br />

            <div class="col-12">
                <button type="submit" class="btn btn-outline-primary col-12">Recover</button>
                <hr />
            </div>
        </form>
        <br />
        <div class="col-12">
            @if (codigos != null)
            {
                foreach (var codigo in codigos)
                {
                    switch (codigo)
                    {
                        case 1:
                            <label class="text-danger">La contraseña no cumple con los digitos minimos.</label>
                            break;
                        case 2:
                            <label class="text-danger">La contraseña no cumple con la cantidad de letras minimas.</label>
                            break;
                        case 3:
                            <label class="text-danger">La contraseña no cumple con la cantidad de mayusculas minimas.</label>
                            break;
                        case 4:
                            <label class="text-danger">La contraseña no cumple con la cantidad de simbolos minima</label>
                            break;
                        case 5:
                            <label class="text-danger">La contraseña no cumple con el no uso de datos basicos del usuario</label>
                            break;
                        case 6:
                            <label class="text-danger">La contraseña no cumple con el no uso de contraseñas anteriores</label>
                            break;
                        case 7:
                            <label class="text-danger">La contraseña no cumple con el no uso de las palabras prohibidas para contraseñas</label>
                            break;
                        case 8:
                            <label class="text-danger">La contraseña no cumple con el no uso del login en la contraseña</label>
                            break;
                    }
                }
            }
        </div>

    </div>
</div>